<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
        </style>
        <!-- <link rel="stylesheet" href="./../static/style.css"> -->
        <link rel="stylesheet" href="../static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Model training</title>
    </head>
    <body>
        <h1 class="h1">Model Training : (Image labelling...)</h1>
        <hr />
        <div class="text">
            <img id="your-img-id" src="{{ Image }}?{{ current_time }}" />

            <div class="notImage">
                <p style="font-family: 'Poppins', sans-serif">
                    Predicted Text :<br /><span class="perdicted"
                        >{{predictedText}}</span
                    >
                </p>
                <div class="updated-buttons">
                    <button id="update">Update</button>
                    <button id="not-update">Not Update</button>
                </div>
                <input id="update-txt" type="text" disabled /><br />
                <button id="submit" type="submit">Submit</button>
                <div id="output"></div>
            </div>
        </div>
        <script>
            var predicted = false;

            document.getElementById("update").onclick = function () {
              console.log("updated");
              predicted = true;
              document.getElementById("update-txt").disabled = false;
            };

            document.getElementById("not-update").onclick = function () {
              console.log("not updated");
              predicted = false;
              document.getElementById("update-txt").disabled = true;
              document.getElementById("update-txt").value = "";
            };

            function sendData() {
              windows.location.reload(true);
              console.log("sendData() called");
              var input = document.getElementById("update-txt").value;
              console.log("into the function: text:", input, " and bool ", predicted);
              if (input == null) {
                input = "";
              }

              // Add a unique query parameter to the image URL
              var imageUrl = "{{ Image }}" + "?nocache=" + new Date().getTime();

              $.ajax({
                url: "/frame",
                type: "POST",
                data: { text: input, updated: predicted },
                success: function (response) {
                  console.log("Response from server:", response);
                  // Update the image source using the new URL
                  var imgElement = document.getElementById("your-img-id");
                  imgElement.src = {{imageUrl}};
                },
                error: function (error) {
                  console.log(error);
                },
              });
            }

            // Submit the form on button click
            document.getElementById("submit").onclick = function () {
              sendData();
            };
        </script>
    </body>
</html>
