<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <link rel="stylesheet" href="./../static/style.css"> -->
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Model training</title>
  </head>
  <body>
    <h1>Model Training: (Image labelling...)</h1>
    <hr />
    <div class="text">
      <img src="{{ Image }}" />
      <div class="notImage">
        <p>
          Predicted Text:<br /><span class="perdicted">{{predictedText}}</span>
        </p>
        <div class="updated-buttons">
          <button id="update">Update</button>
          <button id="not-update">Not Update</button>
        </div>
        <input id="update-txt" type="text" disabled /><br />
        <button id="submit" onclick="sendData()">Submit</button>
        <div id="output"></div>
      </div>
    </div>
    <script>
      var predicted = false;

      document.getElementById("update").onclick = function () {
        console.log("updated");
        predicted = true;
        document.getElementById("update-txt").disabled = false;
      };

      document.getElementById("not-update").onclick = function () {
        console.log("not updated");
        predicted = false;
        document.getElementById("update-txt").disabled = true;
        document.getElementById("update-txt").value = "";
      };

      function sendData() {
        var input = document.getElementById("update-txt").value;
        console.log("into the function: text:", input, " and bool ", predicted);
        if (input == null) {
          input = "";
        }
        $.ajax({
          url: "/frame",
          type: "POST",
          data: { text: input, updated: predicted },
          success: function (response) {
            // document.getElementById('output').innerHTML = 'value is submitted';
            alert("Value is submitted");
          },
          error: function (error) {
            console.log(error);
          },
        });
      }
    </script>
  </body>
</html>
