body {
    margin: 0;
    padding: 0;
    background-color: #eee9da;
    font-family: 'Poppins', sans-serif;
    color: #326683;
}

.h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.5px;
    color: #326683;
    margin: 20px 0;
}

hr {
    border: 1px solid #bdcdd6;
}

.text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

img {
    height: 500px;
    width: 800px;
    margin-right: 50px;
    box-shadow: 5px 5px 10px #bdcdd6; /* Add a shadow to the image */
    transition: transform 0.3s, box-shadow 0.3s;
}

.notImage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
}

p {
    font-size: 30px;
    font-weight: bold;
    color: #326683;
    margin-bottom: 20px;
}

.perdicted {
    font-weight: normal;
    font-size: 20px;
}

.updated-buttons {
    display: flex;
    margin-bottom: 20px;
}

button {
    background-color: #326683;
    color: #eee9da;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #bdcdd6;
    color: #000000; /* Change text color on hover */
    transition: color 0.3s;
}

#update-txt {
    background-color: #dedcde;
    color: #326683;
    border: 1px solid #bababa;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

#submit {
    background-color: #326683;
    color: #eee9da;
}

#submit:hover {
    background-color: #93bfcf;
}

#output {
    color: #326683;
    font-size: 18px;
}
